.about-slider-header {
  width: 90%;
  margin: auto;
  padding: 15px 0;
  background-color: #000;
  text-align: center;
  text-transform: uppercase;
}

.about-slider {
  background-color: #fff;
  padding: 25px 17px 30px 17px;
}

.about-slider-content__header {
  padding-bottom: 20px;
  text-transform: uppercase;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: orange;
}

.about-slider-content__description {
  padding-top: 20px;
  margin-bottom: 45px;
  font-size: 12px;
}

.slider-arrow {
  display: inline-block;
  transition: all 0.2s ease-out;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.slide {
  height: 10px;
  padding: 10px;
  background-color: #adadad;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.about-slider-indicator .individual-indicators {
  margin: auto 7px auto 7px;
  margin: 0 auto;
  position: relative;
}

.about-slider-indicator {
  position: relative;
}

.about-slider-indicator .about-active-indicator {
  position: absolute;
  height: 10px;
  vertical-align: middle;
  background: linear-gradient(to right, #f79237, #f3775a);
  top: 1px;
  width: 20px;
  transition: 0.8s ease;
  left: 0;
}

.slick-current {
  background: red;
}

.about-slider-active {
  height: 10px;
  padding: 10px;
  vertical-align: middle;
  background: grey;
  position: relative;
  top: -1px;
}

.about-slider-content li {
  cursor: grab;
}

ul {
  padding: 0 !important;
}

.about-slider-content li:active {
  cursor: grabbing;
}

.next-animation {
  transition: all 0.2 ease;
  transform: translateX(5px);
}

.prev-animation {
  transition: all 0.2s ease;
  transform: translateX(-5px);
}

.slider-arrow {
  color: red;
  cursor: auto;
}

.slider-arrow-active {
  transition: all 0.6s ease;
  color: #000;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
